.about-section {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-section p {
  align-self: center;
  font-size: 1.2rem;
  text-align: center;
  width: 90%;
}
.demo-image {
  width: 70%;
  margin: 7%;
  box-shadow: 0 0 30px rgb(235, 235, 245);
  align-self: center;
}
.about-signup-link {
  align-self: center;
  text-align: center;
  padding: 0.5rem;
  width: 40%;
  border: 1px solid rgb(235, 235, 245);
  box-shadow: 0 0 10px rgb(235, 235, 245);
  background: #5c258a;
}
