.dream-box {
  width: 90vw;
  height: 10vh;
  border: 0.5px solid rgb(235, 235, 245);
  box-shadow: 0 0 10px rgb(235, 235, 245);
  display: flex;
  font-size: 1em;
  margin: 3%;
  overflow: hidden;
  position: relative;
}

.Lucid {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
  color: rgb(72, 72, 75);
}

.Normal {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.Nightmare {
  background: #200122;
  background: -webkit-linear-gradient(to right, #6f0000, #200122);
  background: linear-gradient(to right, #6f0000, #200122);
}

.dream-info {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.dream-title {
  z-index: 1;
  font-size: 1.7rem;
  margin-top: 4%;
  margin-left: 4%;
}
.Lucid .dream-date {
  color: rgba(72, 72, 75, 0.63);
}
.dream-date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2.1rem;
  margin: auto;
  margin-right: 3%;
  color: rgba(235, 235, 245, 0.397);
}

.ri-eye-off-fill,
.ri-eye-fill {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2%;
  font-size: 1.5rem;
  background: none;
  z-index: 2;
}

.Lucid .ri-eye-off-fill,
.Lucid .ri-eye-fill {
  color: rgba(0, 0, 0, 0.5);
}
.Normal .ri-eye-off-fill,
.Normal .ri-eye-fill {
  color: rgba(0, 0, 0, 0.5);
}
.Nightmare .ri-eye-off-fill,
.Nightmare .ri-eye-fill {
  opacity: 0.5;
}
@media (max-height: 640px) and (max-width: 361px) {
  .dream-title {
    font-size: 1.2rem;
  }
  .dream-date {
    font-size: 1.5rem;
  }
  .ri-eye-off-fill,
  .ri-eye-fill {
    font-size: 1.1rem;
  }
}

@media (max-height: 740px) and (min-height: 641px) {
  .dream-title {
    font-size: 1.4rem;
  }
  .dream-date {
    font-size: 1.8rem;
  }
  .ri-eye-off-fill,
  .ri-eye-fill {
    font-size: 1.4rem;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .dream-box {
    width: 10rem;
    height: 10rem;
  }
  .dream-info {
    width: 10rem;
    height: 10rem;
  }
  .dream-title {
    font-size: 1.5rem;
    text-align: left;
  }
  .dream-date {
    font-size: 3rem;
    left: 0;
  }
  .ri-eye-off-fill,
  .ri-eye-fill {
    padding: 2%;
    font-size: 1.5rem;
  }
}

@media only screen and (min-device-width: 319px) and (max-device-width: 825px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .dream-box {
    width: 10rem;
    height: 10rem;
  }
  .dream-info {
    width: 10rem;
    height: 10rem;
  }
  .dream-title {
    font-size: 1.5rem;
    text-align: left;
  }
  .dream-date {
    font-size: 3rem;
    left: 0;
  }
  .ri-eye-off-fill,
  .ri-eye-fill {
    padding: 2%;
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .dream-box {
    width: 15rem;
    height: 15rem;
  }
  .dream-info {
    width: 15rem;
    height: 15rem;
  }
  .dream-title {
    width: 70%;
    font-size: 2rem;
    text-align: left;
  }
  .dream-date {
    font-size: 4.7rem;
    left: 0;
  }
  .ri-eye-off-fill,
  .ri-eye-fill {
    padding: 5%;
    font-size: 2rem;
  }
}
