.edit-form {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  justify-content: center;
}
.edit-form form {
  align-self: center;
  text-align: center;
  width: 90vw;
}

.edit-form input {
  align-self: center;
  text-align: center;
  width: 80vw;
}
