.edit-form {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  justify-content: center;
}
.edit-form form {
  align-self: center;
  text-align: center;
  width: 90vw;
}

.edit-form input {
  align-self: center;
  text-align: center;
  width: 80vw;
  box-sizing: border-box;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .edit-form {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-evenly;
  }
  .edit-form form {
    width: 40vw;
  }

  .edit-form input {
    width: 40vw;
  }
}

@media only screen and (min-device-width: 319px) and (max-device-width: 825px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .edit-form {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-evenly;
  }
  .edit-form form {
    width: 40vw;
  }

  .edit-form input {
    width: 40vw;
  }
}

@media (min-width: 1024px) {
  .edit-form {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: space-evenly;
  }
  .edit-form form {
    width: 40vw;
  }

  .edit-form input {
    width: 40vw;
  }
}
