.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #010111bd;
  z-index: 2;
}
.modal > section {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 80vw;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.ri-close-circle-fill {
  position: absolute;
  bottom: 0;
  font-size: 2.3rem;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-modal {
  position: fixed;
  background: #020433f5;
  width: 70vw;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(235, 235, 245);
  box-shadow: 0 0 10px rgb(235, 235, 245);
}
.anError {
  color: red;
  padding: 2%;
  font-size: 1.2rem;
  text-align: center;
}
.aMessage {
  position: absolute;
  color: rgb(6, 146, 29);
  font-size: 1.2rem;
  text-align: center;
  padding: 2%;
}

.reset-password-link {
  text-align: center;
  text-decoration: underline;
  font-size: 0.9rem;
  color: rgba(235, 235, 245, 0.767);
}

.modal-dream-title {
  margin: 0;
  padding: 7%;
  text-align: center;
  font-size: 1.6rem;
}
.modal-dream-private-button {
  position: absolute;
  top: 75%;
  padding: 3%;
  width: 45%;
  align-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgb(235, 235, 245);
  box-shadow: 0 0 10px rgb(235, 235, 245);
  background: inherit;
  font-size: 1.1rem;
  height: auto;
  text-decoration: none;
  font-weight: 400;
  color: rgb(235, 235, 245);
  cursor: pointer;
}

.Lucid .modal-dream-private-button {
  color: rgba(0, 0, 0, 0.952);
}

.modal-dream-info {
  margin: 0;
  text-align: center;
  font-size: 1.4rem;
  overflow: scroll;
  padding: 5%;
}
.dream-was-added {
  color: rgb(6, 146, 29);
  font-size: 1.5rem;
  text-align: center;
  padding: 5%;
}
@media (max-height: 640px) and (max-width: 361px) {
  .aMessage,
  .anError,
  .dream-was-added {
    font-size: 1.1rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .signup-modal {
    position: absolute;
    width: 20rem;
    height: 20rem;
  }
  .modal-dream-title {
    padding: 5%;
    font-size: 2rem;
  }
  .modal-dream-private-button {
    padding: 1%;
    width: 10rem;
  }
  .modal > section {
    position: relative;
    height: 18rem;
  }
  .anError {
    padding: 2rem;
  }
  .ri-close-circle-fill {
    position: absolute;
    top: 0;
    margin: 2%;
    font-size: 2.3rem;
    cursor: pointer;
    left: 0;
    transform: none;
  }
}

@media only screen and (min-device-width: 319px) and (max-device-width: 825px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .signup-modal {
    position: absolute;
    width: 20rem;
    height: 20rem;
  }
  .modal-dream-title {
    padding: 5%;
    font-size: 2rem;
  }
  .modal-dream-private-button {
    padding: 1%;
    width: 10rem;
  }
  .modal > section {
    position: relative;
    height: 18rem;
  }
  .anError {
    padding: 2rem;
  }
  .ri-close-circle-fill {
    position: absolute;
    top: 0;
    margin: 2%;
    font-size: 2.3rem;
    cursor: pointer;
    left: 0;
    transform: none;
  }
}

@media (min-width: 1024px) {
  .signup-modal {
    position: absolute;
    width: 25rem;
    height: 25rem;
  }
  .aMessage,
  .anError,
  .dream-was-added {
    font-size: 2rem;
    text-align: center;
  }

  .reset-password-link {
    font-size: 1.3rem;
  }
  .ri-close-circle-fill {
    font-size: 3.5rem;
  }
  .modal-dream-title {
    padding: 5%;
    font-size: 2rem;
  }
  .modal-dream-private-button {
    padding: 1%;
    width: 10rem;
  }
  .modal > section {
    width: 40rem;
    height: 40rem;
  }
}
