.share-blog-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 3%;
  width: auto;
  height: auto;
  padding: 2%;
  font-size: 1.3rem;
  font-weight: bold;
  background: none;
  border: 1px solid rgb(235, 235, 245);
  box-shadow: 0 0 10px rgb(235, 235, 245);
  color: rgb(235, 235, 245);
  border-radius: 0;
  cursor: pointer;
}
.share-blog-button > h3 {
  margin: 0;
  padding: 0;
}
.ri-share-forward-fill {
  margin: 3%;
  text-align: center;
  align-self: center;
}
.allDreamsBlog {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 1024px) {
  .share-blog-button {
    margin-top: 3%;
    padding: 1%;
  }
  .allDreamsBlog {
    margin-top: 0;
  }
}
