header {
  display: flex;
  align-items: center;
  height: 10vh;
  background: #5e3982;
  box-shadow: 0px 0px 150px rgb(244, 245, 235);
}
.logo {
  align-items: center;
  padding-left: 2vh;
  padding-top: 5vh;
  height: inherit;
  font-size: 2em;
  align-self: center;
}
