.allDreams {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.no-dreams {
  color: rgba(235, 235, 245, 0.342);
  text-align: center;
  margin-top: 40%;
}
.adddream-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 3%;
  width: auto;
  height: auto;
  padding: 4%;
  font-size: 1.3rem;
  font-weight: bold;
  background: #5c258a;
  border: 1px solid rgb(235, 235, 245);
  box-shadow: 0 0 10px rgb(235, 235, 245);
  color: rgb(235, 235, 245);
  border-radius: 0;
  cursor: pointer;
}
@media only screen and (min-device-width: 480px) and (max-device-width: 812px) and (orientation: landscape) {
  .no-dreams {
    margin-top: 8%;
  }
  .adddream-button {
    padding: 2%;
    margin-top: 5%;
  }
}
@media (min-width: 1024px) {
  .allDreams {
    justify-content: center;
  }
  .no-dreams {
    margin-top: 10%;
    font-size: 2.5rem;
  }
  .adddream-button {
    padding: 1%;
    margin-top: 5%;
  }
}
