.signup-form {
  text-align: center;
  margin-top: 15vh;
}
.signup-form input {
  -webkit-border-radius: 0;
  border: 0;
  width: 80vw;
  box-sizing: border-box;
  height: 5vh;
  margin: 3%;
}
.signup-have-an-account {
  text-align: center;
}

a {
  color: rgb(235, 235, 245);
  text-decoration: underline;
}

.signup-have-an-account:link,
.signup-have-an-account:visited {
  text-decoration: none;
  color: rgb(235, 235, 245);
}
